{% extends "basic_page.html" %}
{% load static %}

{% block head_title %}AAERNE - Funders{% endblock %}

	{% block breadcrumbs %}
		<a href="/">Home</a> > Funders
	{% endblock %}

{% block content %}
<h1>Funders</h1>

<ul>
	</li>The 1772 Foundation</li>
	<li>The Ford Foundation</li>
	<li>Institute of Museum & Library Services</li>
	<li>Massachusetts Cultural Council</li>
	<li>Massachusetts State Historic Records Advisory Board</li>
	<li> MassHumanities</li>
	<li>National Endowment for the Humanities</li>
	<li>National Park Service</li>
	<li>National Trust for Historic Preservation</li>
	<li>Betty and Robert Romer</li>
	<li>and the members and donors of the Pocumtuck Valley Memorial Association.</li>
</ul>


{% endblock content %}
