/* CSS Document */
body {
	padding: 5%;
	background-color: #faf6ef;
	font-family: 'Arial Narrow', Arial, Helvetica, sans-serif;
	font-size: medium;
	color: #333333;
}
section {clear: both; margin-top: 5em;}

/*style for heads and subheads*/
h1, h2, h3 {	color: #171849; font-weight: bold;	}
h1 {	font-size: 150%;	}
h2 {	font-size: 120%; margin-top: 2em;	}
h3	{	font-size: 100%;	}

ul.horiz li	{float: left; margin-right: 2em;}

/*style for basic text elements*/
p, li, blockquote {	font-size: 1em; line-height: 1.75em;	}
table, th, td, dl {	font-size: .9em; line-height: 1.75em;	}
table {	width: 80%;	}
th	{	text-align: left;	}
td {border-bottom: 1px dotted silver; border-left: 1px dotted silver; }
td.id {width: 5%;}
td.details {width: 8%;}
td.name {width: 30%;}
dl {/* figure out how to clear after the dl */}
dt {float: left; padding-right: 1em; clear: left;}
dd {font-weight: bold;}
.small	{	font-size: .75em; }
.faint	{color: #bbb;}

/*style for links*/
a:link		{	color: #333399; text-decoration: none;	}
a:visited	{	color: #666699; text-decoration: none;	}
a:hover		{	text-decoration: underline;	}
nav ul	{
	list-style-type: none;
	font-size: 85%;
	font-weight: normal;
}
