<ul class="volume-sublist">
    {% for volume in primarysource.volume_set.all %}
    <li class="source-volumes">

        <a href="{% url 'sources:source_detail' primarysource.id %}#{{ volume.id }}">

            <span class="date-span">
                {{ volume.year_start}}{% if volume.month_start %}-{{ volume.two_digit_month_start }}{% if volume.day_start %}-{{ volume.two_digit_day_start }}
                {% endif %}
                {% endif %} 
            </span>
        </a>
            
        <a href="{% url 'sources:source_detail' primarysource.id %}#{{ volume.id }}">
            <span class="date-span">
                {{ volume.year_end}}{% if volume.month_end %}-{{ volume.two_digit_month_end }}{% if volume.day_end %}-{{ volume.two_digit_day_end }}
                {% endif %}
                {% endif %} 
            </span>
        </a>

        <a href="{% url 'sources:source_detail' primarysource.id %}#{{ volume.id }}">
            {{ volume.title|safe }}&nbsp;
        </a>
    </li>
    {% endfor %}				
</ul>