{% extends "basic_page.html" %}
{% load static %}

{% block head_title %}Sources{% endblock %}

	{% block breadcrumbs %}
		<a href="/">Home</a> > 
		<!-- <a href="{% url 'sources:index'%}">Primary Sources </a>  -->
		<a onclick="history.back()">Primary Sources </a> 
		> Entries
	{% endblock %}

{% block content %}
	<h1> <a href="/sources">Sources</a> | All Entries</h1>

    <section class="control-panel">
		<form action="{% url 'sources:all_entries' %}" method="GET" id="search-form" name="menu">
		  {# csrf_token #} 
		  {# JS for item selection will change method to post (and will change action) #}
		  <input type="hidden" name="page" value="{{ page_number }}"/>
	  

		  <h4 class="heading">Search entry transcriptions</h4>
		  <input type="search" name="q" value="{{ form.q.value|default_if_none:'' }}" id="id_q" 
			placeholder="Search" class="search-field"/>

		  <h4 class="heading">Filter by year</h4>
		  <input type="search" name="year" value="{{ form.year.value|default_if_none:'' }}" id="id_q" 
			placeholder="Search" class="search-field"/>

          <h4 class="heading">Sort by</h4>
            {{ form.sortOrder}}
      
		  <input type="submit" value="Go" />
		  <p>Showing: {{ result_count }} sources</p>
		</form>
	  </section>

    <table
        hx-target="#slimpop-container"
        hx-swap="outerHTML"
    >
        <tr>
            <th>Entry</th>
            <th>Source</th>
            <th>Date</th>
            <th>AA Name</th>
            <th>Enslaver</th>
            <!-- <th>Imagex</th> -->
            <th>$</th>
            <th>&nbsp;&pound;</th>
            <th>&nbsp;s</th>
            <th>&nbsp;p</th>
            <th>&nbsp;f</th>
        </tr>
        {% for entry in sourceentry_list %}
        <tr>
            <td class="xlrg">
                {% if entry.image_status > 5 %} 
                    &bull; 
                    <!-- <a href="/sources/entry/{{entry.id}}/"> -->
                    <a hx-get="/sources/entry/{{entry.id}}/">
                        {{ entry.entry_text|safe }}
                    </a>
                {% else %}
                    &nbsp; {{ entry.entry_text|safe }}
                {% endif %}
            </td>
            <td  class="lrg">
                <a href="{% url 'sources:source_detail' entry.primary_source.id %}">
                    {{ entry.primary_source.title }},
                </a>
                <a href="{% url 'sources:source_detail' entry.primary_source.id %}#{{entry.volume.id}}">
                {% if entry.volume.title %}
                    {{ entry.volume.title }}
                {% else %}
                    {{ entry.volume.year_start }}-{{ entry.volume.year_end }}
                {% endif  %}
                </a>
            </td>
            <td class="medplus">{% firstof entry.low_year "--" %} 
                {% if entry.low_month %} {{ entry.get_low_month_display }}{% endif %}
                {% if entry.low_day %} {{ entry.low_day }}{% endif %}
            </td>
            <td class="medplus">
                {% if entry.aa_person %}
                    {% if entry.aa_person.known_status == 1 %}<strong>{% endif %}
                    <a href="/people/aaperson/entries/{{ entry.aa_person.id }}/">{{ entry.aa_person.name }}</a>
                    {% if entry.aa_person.known_status == 1 %}</strong>{% endif %}

                {% else %}
                    <span class="faint">{{ entry.name_note }}</span>
                {% endif %}
            </td>
            <td class="medplus">
                {% if entry.o_person %}
                    <a href="/people/operson/{{ entry.o_person.id }}/">{{ entry.o_person.name }}</a></td>
                {% else %}
                    <span class="faint">Free</span>
                {% endif %}
            </td>
            <!-- <td class="sm">
                {% if entry.image_status > 5 %} &check; {% endif %}
                {% if entry.image_status > 6 %} &check; {% endif %}
            </td>			 -->
            <td class="xsm">
                {% if entry.dollars %} {{ entry.dollars }}{% endif %}
            </td>					
            <td class="xsm">
                {% if entry.pounds %} {{ entry.pounds }}{% endif %}
            </td>			
            <td class="xsm">
                {% if entry.shillings %} {{ entry.shillings }}{% endif %}
            </td>			
            <td class="xsm">
                {% if entry.pence %} {{ entry.pence }}{% endif %}
            </td>			
            <td class="xsm">
                {% if entry.farthing %} {{ entry.farthing }}{% endif %}
            </td>			
        </tr>
        {% endfor %}
    </table>
    <p class="small"><a href="#top">top of page</a></p>

	{% include '_list_pagination.html' %}


{% endblock content %}

{% block pop %}
<div id="slimpop-overlay" class="hidden">
	<div id="slimpop-container" hx-target="this">will be replaced</div>
</div>
{% endblock %}

