{% extends "sources/entry_pop_base.html" %}
{% load static %}

{% block entry_pop_detail %}
  <p class="slimpop-close">
    <a hx-target="#close-button" hx-swap="outerHTML">
      <span 
        id="close-button" 
        class="close"    
        hx-get="/sources/entry/994/" 
        hx-trigger="click"
        hx-swap="outerHTML"          
        >
      </span>
    </a>
  </p>

  <div class="slimpop-content">
    {% if sourceentry.image_status > 5 %} 
    <div class="dragon-container">
      <div id="openseadragon1"></div> 
      
      <script type="text/javascript">
        var viewer = OpenSeadragon({
          id: "openseadragon1",
          // clickToZoom: false,
          // pinchToZoom: false,
          minZoomImageRatio: 1,
          maxZoomLevel: 2,
          prefixUrl: "{% static 'js/images/' %}",
          tileSources: "https://img.americancenturies.org/iiif/3/aane|{{ sourceentry.image_name }}.jp2/info.json"
        });
      </script>
    </div>
    {% endif %}
    
    <div class="slim-metadata">
      <h1 class="slim-title">{{ sourceentry.volume.primary_source.title|safe }}</h1>
      
      <div>
        <h4>Entry</h4>
        <div class="slim-entry">
          {{ sourceentry.entry_text_html|safe }}
        </div>

        {% if sourceentry.interpretive_note %} 
          <h4>Note</h4>
          <div class="interpretive-note">
            {{ sourceentry.interpretive_note|safe }}
          </div>
        {% endif %}
      </div>

      <div class="slim-details">
        <h4>Details</h4>
        <dl>
          <dt>Source:</dt>
          <dd>{{ sourceentry.volume.primary_source.title|safe }}</dd>

          <dt>Volume:</dt>
          <dd>{{ sourceentry.volume.title|safe }}</dd>

          <dt>Date:</dt>
          <dd>
            {% firstof sourceentry.low_year "--" %} 
            {% if sourceentry.low_month %} 
              {{ sourceentry.get_low_month_display }}
            {% endif %}
            {% if sourceentry.low_day %} {{ sourceentry.low_day }}{% endif %}
          </dd>

          <dt>Scan Number:</dt>
          <dd>{{ sourceentry.image_name }}</dd>

          <dt>Person:</dt>
          <dd>{{ sourceentry.aa_person.name }}</dd>

          <dt>Transaction:</dt>
          <dd>
            {% if sourceentry.dollars %} 
            ${{ sourceentry.dollars }}
          {% else %}
            &pound;
            {% firstof sourceentry.pounds "0" %}/
            {% firstof sourceentry.shillings "0" %}/
            {% firstof sourceentry.pence "0" %}
            {% if sourceentry.farthing %}
              (f {{ farthing }})
            {% endif %}
          {% endif %}
          </dd>
        </dl>
      </div><!-- /slim-details -->
    </div><!-- /slim-metadata -->
  </div><!-- /slimpop-content -->
{% endblock %}
