{% extends "base.html" %}
{% load staticfiles %}

{% block head_title %}AANE - All Primary Source Entries{% endblock %}

{% block page_title %}AANE - All Primary Source Entries{% endblock %}

{% block content %}
	
	<table>
		<tr>
			<th>Detail</th><th>Edit</th><th>Entry</th>
		</tr>
		{% for entry in sourceentry_list %}
		<tr>
			<td><a href="{% url 'sources:entry_detail' entry.id %}">detail</a></td>
			<td><a href="{% url 'sources:entry_update' entry.id %}">update</a></td>
			<td>{{ entry.entry_text|safe }}</td>
		</tr>
		{% endfor %}
	</table>
	

{% endblock content %}
