{% extends "base.html" %}
{% load static %}

{% block head_title %}AAERNE - Sources{% endblock %}

	{% block breadcrumbs %}
		<a href="/">Home</a> > Sources
	{% endblock %}

{% block page_title %}Sources{% endblock %}

{% block content %}

	<table>
		<tr>
			<th>Source</th>

			<th>Type</th>
			<th>Classification</th>
			<th>Count</th>
		</tr>
		{% for primarysource in primarysource_list %}
		<tr>
			<!-- <td class="sm">{{ primarysource.pk }}</td> -->
			<td class="lrg">
				<a href="{% url 'sources:source_detail' primarysource.id %}">
					{{ primarysource.title|safe }}
				</a>

				<ul class="volume-sublist">
					{% for volume in primarysource.volume_set.all %}
					<li class="source-volumes">

						<a href="{% url 'sources:source_detail' primarysource.id %}#{{ volume.id }}">

							<span class="date-span">
								{{ volume.year_start}}{% if volume.month_start %}-{{ volume.two_digit_month_start }}{% if volume.day_start %}-{{ volume.two_digit_day_start }}
								{% endif %}
								{% endif %} 
							</span>
						</a>
							
						<a href="{% url 'sources:source_detail' primarysource.id %}#{{ volume.id }}">
							<span class="date-span">
								{{ volume.year_end}}{% if volume.month_end %}-{{ volume.two_digit_month_end }}{% if volume.day_end %}-{{ volume.two_digit_day_end }}
								{% endif %}
								{% endif %} 
							</span>
						</a>

						<a href="{% url 'sources:source_detail' primarysource.id %}#{{ volume.id }}">
							{{ volume.title|safe }}
						</a>
					</li>
					{% endfor %}				
				</ul>
			</td>

			<td class="sm-top">{{ primarysource.source_type }}</td>
			<td class="sm-top">{{ primarysource.source_classification|safe }}</td>
			<td class="sm-top">{{ primarysource.entries_count}}</td>
		</tr>
		{% endfor %}
	</table>
	<p class="small"><a href="#top">top of page</a></p>
	<p class="faint">sources/index.html</p>

{% endblock content %}
