{% extends "base.html" %}
{% load static %}

{% block head_title %}AAERNE - Sources{% endblock %}

	{% block breadcrumbs %}
		<a href="/">Home</a> > Sources
	{% endblock %}

{% block page_title %}AAERNE - Sources{% endblock %}

{% block content %}

	<table>
		<tr>
			<th>Source</th>
			{% comment %} <th>Volume</th> {% endcomment %}
			<th>Type</th>
			<th>Classification</th>
			<th>Count</th>
		</tr>
		{% for primarysource in primarysource_list %}
		<tr>
			<!-- <td class="sm">{{ primarysource.pk }}</td> -->
			<td class="lrg">
				<a href="{% url 'sources:source_detail' primarysource.id %}">
					{{ primarysource.title|safe }}
				</a>

				<ul >
					{% for volume in primarysource.volume_set.all %}
					<li class="source-volumes">
						<a href="{% url 'sources:volume_detail' volume.id %}">
							{{ volume.title|safe }}
						</a>
					</li>
					{% endfor %}				
				</ul>
			</td>

			<td class="sm">{{ primarysource.source_type }}</td>
			<td class="sm">{{ primarysource.source_classification|safe }}</td>
			<td class="sm">{{ primarysource.entries_count}}</td>
		</tr>
		{% endfor %}
	</table>
	<p class="small"><a href="#top">top of page</a></p>
	<p class="faint">sources/index.html</p>

{% endblock content %}
