{% extends "basic_page.html" %}
{% load static %}

{% block head_title %}Sources{% endblock %}

	{% block breadcrumbs %}
		<a href="/">Home</a> > <a href="{% url 'sources:index'%}">Primary Sources </a> > Source Detail
	{% endblock %}

{% block content %}
	<h1>{{ primarysource.title|safe }}</h1>
	<dl>
		<dt>Description:</dt>
		<dd>{{ primarysource.description }}</dd>

		{% comment %} <dt>PVMA call number:</dt>
		<dd>{{ primarysource.pvma_call_num }}</dd> {% endcomment %}
	</dl>

  <p>Table of contents</p>
	<ul>
		{% for volume in primarysource.volume_set.all %}
			<li>
        <a href="#{{ volume.id }}">
          <span class="date-span">
            {{ volume.year_start}}{% if volume.month_start %}-{{ volume.two_digit_month_start }}{% if volume.day_start %}-{{ volume.two_digit_day_start }}
            {% endif %}
            {% endif %} 
          </span>
          <span class="date-span">
            {{ volume.year_end}}{% if volume.month_end %}-{{ volume.two_digit_month_end }}{% if volume.day_end %}-{{ volume.two_digit_day_end }}
            {% endif %}
            {% endif %} 
          </span>
          {{ volume.title|safe }} 
        </a> 
      </li> 
		{% endfor %}
  </ul>
	

	{% for volume in primarysource.volume_set.all %}

		<h3 id="{{ volume.id }}"  class="volume-heading">
      {% firstof volume.year_start "--" %} to
      {% firstof volume.year_end "--" %}
      {{ volume.title }}
		</h3>

		<p class="volume-subhead">
			{% if volume.other_accession_num %}
				(PVMA#: {{volume.other_accession_num}})
			{% endif %} 
		</h3>

		<table
			hx-target="#pop-div"
			hx-swap="outerHTML"
		>
			<tr>
				<th>Entry</th>
				<th>Date</th>
				<th>AA Name</th>
				<th>Enslaver</th>
				<!-- <th>Imagex</th> -->
				<th>$</th>
				<th>&nbsp;&pound;</th>
				<th>&nbsp;s</th>
				<th>&nbsp;p</th>
				<th>&nbsp;f</th>
			</tr>
			{% for entry in volume.sourceentry_set.all %}
			<tr>
				<td class="xlrg">
					{% if entry.image_status > 5 %} 
						&bull; 
						<!-- <a href="/sources/entry/{{entry.id}}/"> -->
						<a hx-get="/sources/entry/{{entry.id}}/">
							{{ entry.entry_text|safe }}
						</a>
					{% else %}
						&nbsp; {{ entry.entry_text|safe }}
					{% endif %}
				</td>
				<td class="medplus">{% firstof entry.low_year "--" %} 
					{% if entry.low_month %} {{ entry.get_low_month_display }}{% endif %}
					{% if entry.low_day %} {{ entry.low_day }}{% endif %}
				</td>
				<td class="medplus">
					{% if entry.aa_person %}
						{% if entry.aa_person.known_status == 1 %}<strong>{% endif %}
						<a href="/people/aaperson/entries/{{ entry.aa_person.id }}/">{{ entry.aa_person.name }}</a>
						{% if entry.aa_person.known_status == 1 %}</strong>{% endif %}
	
					{% else %}
						<span class="faint">{{ entry.name_note }}</span>
					{% endif %}
				</td>
				<td class="medplus">
					{% if entry.o_person %}
						<a href="/people/operson/{{ entry.o_person.id }}/">{{ entry.o_person.name }}</a></td>
					{% else %}
						<span class="faint">Free</span>
					{% endif %}
				</td>
				<!-- <td class="sm">
					{% if entry.image_status > 5 %} &check; {% endif %}
					{% if entry.image_status > 6 %} &check; {% endif %}
				</td>			 -->
				<td class="xsm">
					{% if entry.dollars %} {{ entry.dollars }}{% endif %}
				</td>					
				<td class="xsm">
					{% if entry.pounds %} {{ entry.pounds }}{% endif %}
				</td>			
				<td class="xsm">
					{% if entry.shillings %} {{ entry.shillings }}{% endif %}
				</td>			
				<td class="xsm">
					{% if entry.pence %} {{ entry.pence }}{% endif %}
				</td>			
				<td class="xsm">
					{% if entry.farthing %} {{ entry.farthing }}{% endif %}
				</td>			
			</tr>
			{% endfor %}
		</table>
		<p class="small"><a href="#top">top of page</a></p>


	{% endfor %}
	
	<h3>No Volume assigned </h3>

	<table>
		<tr>
			<th>Entry</th>
			<th>Date</th>
			<th>AA Name</th>
			<th>Owner</th>
			<!-- <th>Image</th> -->
			<th>$</th>
			<th>&nbsp;&pound;</th>
			<th>&nbsp;s</th>
			<th>&nbsp;p</th>
			<th>&nbsp;f</th>
		</tr>
		{% for entry in entries_no_vol %}
		<tr>
			<td class="xlrg">
				{% if entry.image_status > 5 %} 
					&bull; <a href="/sources/entry/{{entry.id}}/">{{ entry.entry_text|safe }}</a>
				{% else %}
					&nbsp; {{ entry.entry_text|safe }}
				{% endif %}
			</td>
			<td class="medplus">{% firstof entry.low_year "--" %} 
				{% if entry.low_month %} {{ entry.get_low_month_display }}{% endif %}
				{% if entry.low_day %} {{ entry.low_day }}{% endif %}
			</td>
			<td class="medplus">
				{% if entry.aa_person %}
					{% if entry.aa_person.known_status == 1 %}<strong>{% endif %}
					<a href="/people/aaperson/entries/{{ entry.aa_person.id }}/">{{ entry.aa_person.name }}</a>
					{% if entry.aa_person.known_status == 1 %}</strong>{% endif %}

				{% else %}
					<span class="faint">{{ entry.name_note }}</span>
				{% endif %}
			</td>
			<td class="medplus">
				{% if entry.o_person %}
					<a href="/people/operson/{{ entry.o_person.id }}/">{{ entry.o_person.name }}</a></td>
				{% else %}
					<span class="faint">Free</span>
				{% endif %}
			</td>
			<!-- <td class="sm">
				{% if entry.image_status > 5 %} &check; {% endif %}
				{% if entry.image_status > 6 %} &check; {% endif %}
			</td>			 -->
			<td class="xsm">
				{% if entry.dollars %} {{ entry.dollars }}{% endif %}
			</td>					
			<td class="xsm">
				{% if entry.pounds %} {{ entry.pounds }}{% endif %}
			</td>			
			<td class="xsm">
				{% if entry.shillings %} {{ entry.shillings }}{% endif %}
			</td>			
			<td class="xsm">
				{% if entry.pence %} {{ entry.pence }}{% endif %}
			</td>			
			<td class="xsm">
				{% if entry.farthing %} {{ entry.farthing }}{% endif %}
			</td>			
		</tr>
		{% endfor %}
	</table>

{% endblock content %}

{% block pop %}
	<div id="pop-div">will be replaced</div>
{% endblock %}
