{% extends "base.html" %}
{% load staticfiles %}

{% block head_title %}AAERNE - Primary Source{% endblock %}

	{% block breadcrumbs %}
		<a href="/">Home</a> > <a href="{% url 'sources:index'%}">Primary Sources </a> > Source Detail
	{% endblock %}

{% block page_title %}AAERNE - Primary Source Detail{% endblock %}

{% block content %}
	
	<h3>{{ primarysource.title|safe }}</h3>
	<dl>
		<dt>PVMA call number:</dt><dd>{{ primarysource.pvma_call_num }}</dd>
		<dt>Description:</dt><dd>{{ primarysource.description }}</dd>
		<dt>Date range:</dt>
		<dd>
			{% firstof primarysource.year_start "--" %} to
			{% firstof primarysource.year_end "--" %}
		</dd>
	</dl>
	<br clear="left">
	<table>
		<tr>
			<!-- <th>Edit</th> -->
			<th>Date</th>
			<th>Name</th>
			<th>Entry</th>
		</tr>
		{% for entry in primarysource.sourceentry_set.all %}
		<tr>
			<!-- <td><a href="{ url 'sources:entry_update' entry.id }">edit</a></td> -->
			<td class="med">{% firstof entry.low_year "--" %} 
			{% if entry.low_month %} {{ entry.get_low_month_display }}{% endif %}
			{% if entry.low_day %} {{ entry.low_day }}{% endif %}
			</td>
			<td class="med">{{ entry.aa_name }}</td>
			<td class="xlrg">{{ entry.entry_text|safe }}</td>
		</tr>
		{% endfor %}
	</table>
	<p class="small"><a href="#top">top of page</a></p>
<p class="faint">sources/source_detail.html</p>


{% endblock content %}