{% extends "base.html" %}
{% load static %}

<!-- Mistakenly started - really wanted entries per volume.
But this may come in handy later -->

{% block head_title %}AAERNE - Sources{% endblock %}

	{% block breadcrumbs %}
		<a href="/">Home</a> > Sources
	{% endblock %}

{% block page_title %}AAERNE - Sources{% endblock %}

{% block content %}

	<table>
		<tr>
			<!-- <th>ID</th> -->
			<!-- <th>edit</th> -->
			<!-- <th>Entries</th> -->
			<!-- <th>Type</th> -->
			<!-- <th>Count</th> -->
			<th>Title</th>
			<!-- <th>Classification</th> -->
			<!-- <th>Description</th> -->
		</tr>
		{% for volume in volume_list %}
		<tr>
			<!-- <td class="sm">{{ volume.pk }}</td> -->
			<!-- <td class="sm">
				<a href="/admin/sources/volume/{{volume.id}}/" target="admin">edit</a>
			</td> -->
			<!-- <td class="med">
				<a href="{% url 'sources:source_detail' volume.id %}">
					entries</a></td> -->
			<!-- <td class="med">{{ primarysource.source_type }}</td> -->
			<!-- <td class="sm">{{ primarysource.entries_count}}</td> -->
			<td class="lrg">
				<a href="{% url 'sources:source_detail' primarysource.id %}">
					{{ primarysource.title|safe }}
				</a>
			</td>
			<!-- <td class="med">{{ primarysource.source_classification|safe }}</td> -->
			<td class="lrg">
				<ul>
					{% for volume in primarysource.volume_set.all %}
						<li>
							{{ volume.title|safe }}
						</li>
					{% endfor %}
					
				</ul>
			</td>
		</tr>
		{% endfor %}
	</table>
	<p class="small"><a href="#top">top of page</a></p>
	<p class="faint">sources/index.html</p>

{% endblock content %}
