{% extends "base.html" %}
{% load static %}

{% block head_title %}AAERNE - Entries by Volume{% endblock %}

	{% block breadcrumbs %}
		<a href="/">Home</a> > 
		<a href="{% url 'sources:index'%}">Primary Sources </a> > 
		Entry list by volume
	{% endblock %}

{% block page_title %}AAERNE - Entries by Volume{% endblock %}

{% block content %}
	<h1>{{ volume.primary_source.title|safe }}</h1>
	<h3>Volume: {{ volume.title|safe }}</h3>
	<dl>
		<dt>PVMA call number:</dt><dd>{{ volume.other_accession_num }}</dd>
		<dt>Accession number:</dt><dd>{{ volume.accession_num }}</dd>
		<dt>Date range:</dt>
		<dd>
			{% firstof volume.year_start "--" %} to
			{% firstof volume.year_end "--" %}
		</dd>
	</dl>
	<br clear="left">
	<table>
		<tr>
			<!-- <th>Edit</th> -->
			{% comment %} <th>detail</th> {% endcomment %}
			<th>Entry</th>
			<th>Date</th>
			<th>AA Name</th>
			<th>Owner</th>
			<th>Image</th>
			<th>$</th>
			<th>&pound;</th>
			<th>shl</th>
		</tr>
		{% for entry in volume.sourceentry_set.all %}
		<tr>
			<!-- <td><a href="{ url 'sources:entry_update' entry.id }">edit</a></td> -->
			<!-- <td class="sm"><a href="/admin/sources/sourceentry/{{entry.id}}/" target="admin">edit</a></td> -->
			{% comment %} <td class="sm"><a href="/sources/entry/{{entry.id}}/">detail</a></td> {% endcomment %}
			<td class="xlrg">
				<a href="/sources/entry/{{entry.id}}/">{{ entry.entry_text|safe }}</a>
			</td>
			<td class="medplus">{% firstof entry.low_year "--" %} 
				{% if entry.low_month %} {{ entry.get_low_month_display }}{% endif %}
				{% if entry.low_day %} {{ entry.low_day }}{% endif %}
			</td>
			<td class="medplus">
				{% if entry.aa_person %}
					{% if entry.aa_person.known_status == 1 %}<strong>{% endif %}
					<a href="/people/aaperson/entries/{{ entry.aa_person.id }}/">{{ entry.aa_person.name }}</a>
					{% if entry.aa_person.known_status == 1 %}</strong>{% endif %}

				{% else %}
					<span class="faint">{{ entry.name_note }}</span>
				{% endif %}
			</td>
			<td class="medplus">
				{% if entry.o_person %}
					<a href="/people/operson/{{ entry.o_person.id }}/">{{ entry.o_person.name }}</a></td>
				{% else %}
					<span class="faint">Free</span>
				{% endif %}
			</td>
			<td class="sm">
        {% if entry.image_status > 5 %} &check; {% endif %}
        {% if entry.image_status > 6 %} &check; {% endif %}
      </td>			
			<td class="xsm">
				{% if entry.dollars %} {{ entry.dollars }}{% endif %}
			</td>					
			<td class="xsm">
				{% if entry.pounds %} {{ entry.pounds }}{% endif %}
			</td>			
			<td class="xsm">
				{% if entry.shillings %} {{ entry.shillings }}{% endif %}
			</td>			
		</tr>
		{% endfor %}
	</table>
	<p class="small"><a href="#top">top of page</a></p>
<p class="faint">sources/source_detail.html</p>
<p class="faint">Wish list:</p>
<ul class="faint">
	<li>Navigation: next and previous source</li>
	<li></li>
	<li></li>
</ul>


{% endblock content %}
