{% extends "basic_page.html" %}
{% load static %}

{% block head_title %}AAERNE - African Americans{% endblock %}

{% block breadcrumbs %}
  <a href="/">Home</a> > African American People
{% endblock %}


{% block content %}
  <h1>African Americans in the Record</h1>
  <!-- Sorted by (known, enslaver only known, unknown), 
   (enslaved, became freed, always free), then Name. -->
  
   <form action="{% url 'people:aaperson_index' %}" method="GET" id="search-form" 
   name="menu">
    <section class="control-panel">
		  {# csrf_token #} 
		  {# JS for item selection will change method to post (and will change action) #}
		  <input type="hidden" name="page" value="{{ page_number }}"/>

      <div class="control-left">
        <h4 class="heading">Filter by Freed Status</h4>
        {{ form.freedStatus }}
      </div>

      <div class="control-mid">
        <h4 class="heading">Search Names</h4>
        <input type="search" name="for_name" 
        value="{{ form.for_name.value|default_if_none:'' }}" id="id_for_name" 
        placeholder="Search" class="search-field"/>
        
        <h4 class="heading">Search Biographies</h4>
        <input type="search" name="in_bio" 
          value="{{ form.in_bio.value|default_if_none:'' }}" id="id_in_bio" 
          placeholder="Search" class="search-field"/>
        <h4 class="heading">Sort by</h4>
        {{ form.sortOrder}}
        <input type="submit" value="Go" />
        <span id="clear"><a href="#">clear search</a></span>
      </div>
      
      <div class="control-right">

         <!-- <h4 class="heading">Core or wide</h4> -->
        <!-- {{ form.tiers }} -->

        <input type="hidden" name="tier" id="tier"
        value="{{ form.tier.value|default_if_none:'' }}" />

        <!-- <p><a class="tier-others" href="/">Show others</a></p>
        <p><a class="tier-core" href="/">Show core people</a></p> -->

        <p>Showing: {{ result_count }} people</p>
        <p> See also: 
          <a href="{% url 'people:aaperson_other' %}">
            Other African Americans
          </a> -- who were in the area during this period, and later, but for which we don't have the records.
        </p>

      </div>
    </section>  
  </form>
  <hr>
  
  <table>
    <tr>
      <th>Name</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Birth</th>
      <th>Death</th>
      <th>First Rec</th>
      <th>Last Rec</th>
      <th>Confidence</th>
      <th>Enslaved?</th>
      <th>Enslaver(s)</th>
      <th>Location(s)</th>
      <th>Entries</th>
      <th>ID</th>
    </tr>
    {% for aaperson in aaperson_list %}
    <tr>
      <td class="medlrg">
        <a href="{% url 'people:aaperson_detail' aaperson.id %}">
          {{ aaperson.name|safe }}
        </a>
      </td>
      <td class="medplus">{{ aaperson.first_name|safe }}</td>
      <td class="medplus">{{ aaperson.last_name|safe }}</td>
      <td class="sm">
        {% if aaperson.birth_year %}
          {{ aaperson.birth_year }}
        {% endif %}
      </td>
      <td class="sm">
        {% if aaperson.death_year %} 
          {{ aaperson.death_year }}
        {% endif %}
      </td>
      <td class="sm">
        {% if aaperson.first_appearance_year %}
          {{ aaperson.first_appearance_year }}
        {% endif %}
      </td>
      <td class="sm">
        {% if aaperson.last_appearance_year %} 
          {{ aaperson.last_appearance_year }}
        {% endif %}
      </td>
      <td class="med">{{ aaperson.get_confidence_display }}</td>
      <td class="medplus">{{ aaperson.get_freed_status_display }}</td>
      <td>
        {% for owner in aaperson.owners.all %}
          <a href="{% url 'people:operson_detail' owner.id %}">
            {{ owner.name|safe }};
          </a>
        {% endfor %}
      </td>
      <td class="medplus">
        {% for location in aaperson.locations.all %}
          {{ location.title }}, {{ location.state.abbr}} &nbsp;
        {% endfor %}
      </td>
      <td class="sm">{{ aaperson.person_entries_count }}</td>
      <td class="sm">{{ aaperson.id }}</td>
    </tr>
    {% endfor %}
  </table>
  
  {% include '_list_pagination.html' %}

  <p class="small"><a href="#top">top of page</a></p>
  <p class="faint">aaperson_list.html</p>


{% endblock content %}
