{% extends "basic_page.html" %}
{% load static %}

{% block head_title %}AAERNE - About This Project{% endblock %}

	{% block breadcrumbs %}
		<a href="/">Home</a> > About This Project
	{% endblock %}

{% block content %}
<section class="about">
	<h1>About This Project</h1>

	<p>
	&copy;2023 Pocumtuck Valley Memorial Association, Deerfield, MA. All rights reserved. The contents of this site may not be reproduced in any form without the consent of the Pocumtuck Valley Memorial Association.  Citing this Resource: "African Americans in Rural New England Database." Pocumtuck Valley Memorial Association, <a href=" http://aane.deerfield-ma.org/"> http://aane.deerfield-ma.org/</a>
	</p>
</section>

{% endblock content %}
