<!DOCTYPE html>
{% load static %}
<html>
<head>
	<meta charset="UTF-8">
    <title>{% block head_title %}AAERNE Head Title{% endblock %}</title>
	
	{% block stylesheets %}
	<link rel="stylesheet" href="{% static 'common/aane_style.css' %}" type="text/css"  media="all"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,300;0,400;0,600;1,100;1,300;1,400;1,600&display=swap" rel="stylesheet">


      {% block additional_css %}{% endblock %}
  {% endblock stylesheets %}
  {% block javascript %}
  <script src="{% static 'js/htmx.min.js' %}"></script>
  <script src="{% static 'js/aane_htmx.js' %}"></script>
  <script src="{% static 'js/openseadragon.min.js' %}"></script>
  {% endblock %}
</head>

<body>

  {% block page %}

  {% endblock %}

<footer>
	<nav>
		<ul>
			<li><a href="">About This Project</a></li>
			<li><a href="">About This Database</a></li>
			<li><a href="">Funders</a></li>
			<li><a href="https://deerfield-ma.org/">About PVMA</a></li>
			<li><a href="">Contact Us</a></li>
		</ul>
	</nav>
</footer>

{% block pop %}

{% endblock %}

</body>
</html>
