<!DOCTYPE html>
{% load static %}
<html>
<head>
	<meta charset="UTF-8">
    <title>{% block head_title %}AAERNE Head Title{% endblock %}</title>
	
	{% block stylesheets %}
		<link rel="stylesheet" href="{% static 'common/aane_style.css' %}" type="text/css"  media="all"/>
		{% block additional_css %}{% endblock %}
    {% endblock %}
    {% block javascript %}
		<script src="{% static 'js/htmx.min.js' %}" defer></script>
    {% endblock %}
</head>

<body>
<a id="top"></a>
<h3 class="site-heading">African Americans in Rural New England</h3>

<!--  header and main nav -->
<header id="header">
	<p><a href="{% url 'people:aaperson_index' %}">African Americans</a> | 
	<a href="{% url 'people:operson_index' %}">Other People/Enslavers</a> | 
	<a href="{% url 'sources:index' %}">Sources</a></p>

	<h2>{% block page_title %}AAERNE Page Title{% endblock %}</h2>

	<p class="breadcrumbs">
		{% block breadcrumbs %}

		{% endblock %}
	</p>
</header><!-- #header -->

{% block content %}
Content goes here
{% endblock %}

</body>
</html>
