{% extends "basic_page.html" %}
{% load static %}

{% block head_title %}Team Home{% endblock %}

<h1> Team Home</h1>

{% block content %}

    <section class="control-panel team">
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <ul>
            <li><a href="{% url 'sources:team_entries' %}">Entries with no aa id</a></li>
            <li>&nbsp;</li>
            <li><a href="{% url 'people:aaperson_zero' %}">People who haven't been associated with an entry</a></li>
        </ul>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>

    </section>



{% endblock content %}

{% block pop %}
<div id="slimpop-overlay" class="hidden">
	<div id="slimpop-container" hx-target="this">will be replaced</div>
</div>
{% endblock %}

