{% extends "base.html" %}
{% load staticfiles %}

{% block head_title %}AANE - African American People{% endblock %}

	{% block breadcrumbs %}
		<a href="/">Home</a> > AA People
	{% endblock %}

{% block page_title %}AANE - African American People{% endblock %}

{% block content %}

	<table>
		<tr>
			<th>ID</th>
			<th>Edit</th>
			<th>details</th>
			<th>Name</th>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Birth</th>
			<th>Death</th>
			<th>Owner(s)</th>
		</tr>
		{% for aaperson in aaperson_list %}
		<tr>
			<td class="id">{{ aaperson.id }}</td>
			<td >
				<!-- a href="{ url 'people:aaperson_update' aaperson.id }">edit</a -->
				<a href="/admin/people/aaperson/{{aaperson.id}}/" target="admin">edit</a>
			</td>
			<td><a href="{% url 'people:aaperson_entries' aaperson.id %}">details</a></td>
			<td class="name">{{ aaperson.name|safe }}</td>
			<td>{{ aaperson.first_name|safe }}</td>
			<td>{{ aaperson.last_name|safe }}</td>
			<td>{{ aaperson.birth }}</td>
			<td>{{ aaperson.death }}</td>
			<td>
				{% for owner in aaperson.owners.all %}
					{{ owner.name|safe }};
				{% endfor %}
			</td>
		</tr>
		{% endfor %}
	</table>
	
	<!-- p><a href="{ url 'people:aaperson_add' }">add</a></p -->

{% endblock content %}
