{% extends "basic_page.html" %}
{% load static %}

{% block head_title %} {{ aaperson.name|safe }}{% endblock %}

	{% block breadcrumbs %}
		<a href="/">Home</a> > <a href="{% url 'people:aaperson_index'%}">AA People </a> > Person Details
	{% endblock %}

{% block content %}
	<h1>{{ aaperson.name|safe }}</h1>

	<dl>
		<dt>first name</dt><dd>{{ aaperson.first_name }}</dd>
		<dt>last name</dt><dd>{{ aaperson.last_name }}</dd>
		<dt>gender</dt><dd>{{ aaperson.gender }}</dd>
	
		<dt>birth, death year</dt>
		<dd>
      {% if aaperson.birth_year %}
        {% if aaperson.is_birth_circa %}
          circa 
        {% endif %}
        {{aaperson.birth_year}}
      {% else %} -- {% endif %}
      ,
      {% if aaperson.death_year %}
        {% if aaperson.is_death_circa %}
          circa 
        {% endif %}
        {{aaperson.death_year}}
      {% else %} -- {% endif %}
		</dd>
		<dt>first, last year in records</dt>
		<dd>
			{% firstof aaperson.first_appearance_year "--" %}, 
			{% firstof aaperson.last_appearance_year "--" %} 
		</dd>
		<dt>year freed</dt><dd>{% firstof aaperson.free_start_year "--" %}</dd>
		<dt>enslaver(s)</dt>
		<dd>
			{% for owner in aaperson.owners.all %}
				{{ owner.name|safe }},
			{% endfor %}
		</dd>
		<dt>location(s)</dt>
		<dd>
			{% for location in aaperson.locations.all %}
				{{ location.title }}, {{ location.state.abbr}} &nbsp;
			{% endfor %}
		</dd>
		<dt>place of origin</dt><dd>{{ aaperson.place_of_origin }}</dd>
	</dl>
	<br clear="left" />


	<div class='full-bio'>
		<h3>Bio</h3>
		{{ aaperson.bio.html|safe }}
	</div>
	
	<h2>Primary Source Entries for {{ aaperson.name|safe }}</h2>

	<table
		hx-target="#slimpop-container"
		hx-swap="outerHTML"	
	>
		<tr>
			<th>Entry</th>
			<th>Source</th>
			<th>Vol Name</th>
			<th>Date</th>
			<th>Enslaver</th>
			<th>entry id</th>
		</tr>
		<!-- for entry in aaperson.person_entries -->
		{% for entry in aaperson.aa_persons.all %}
		<tr>
			<td class="xlrg">
				{% if entry.image_status > 5 %} 
					&bull; 
					<a hx-get="/sources/entry/{{entry.id}}/">
						{{ entry.entry_text|safe }}
					</a>
				{% else %}
					&nbsp; {{ entry.entry_text|safe }}
				{% endif %}
			</td>
			<td class="medlrg">
        <a href="{% url 'sources:source_detail' entry.primary_source.id %}">
          <em>{{ entry.primary_source }}</em>
        </a>
      </td>
			<td class="medlrg">
        <a href="{% url 'sources:source_detail' entry.primary_source.id %}#{{entry.volume.id}}">
          {{ entry.volume.title }}
        </a>
      </td>
			<td class="med">{% firstof entry.low_year "--" %} 
        {% if entry.low_month %} {{ entry.get_low_month_display }}{% endif %}
        {% if entry.low_day %} {{ entry.low_day }}{% endif %}
			</td>
      <td class="medlrg">
        {% if entry.operson_fk_id %}
          <a href="{% url 'people:operson_detail' entry.operson_fk_id %}">
            {{ entry.operson_fk.last_name }}, {{ entry.operson_fk.first_name }}
          </a>
        {% endif %} 
      </td>
			<td class="xsm">{{entry.id}}</td>
		</tr>
		{% endfor %}
	</table>
	<p class="small"><a href="#top">top of page</a></p>
{% endblock content %}

{% block pop %}
<div id="slimpop-overlay" class="hidden">
	<div id="slimpop-container" hx-target="this">will be replaced</div>
</div>
{% endblock %}
