{% extends "base.html" %}
{% load staticfiles %}

	{% block breadcrumbs %}
		<a href="/">Home</a> > <a href="{% url 'people:aaperson_index'%}">AA People </a> > Person Entries
	{% endblock %}

{% block content %}

	<h3>{{ aaperson.name|safe }}</h3>

	<table>
		<tr>
			<td>first_name</td><td>{{ aaperson.first_name }}</td>
		</tr>
		<tr>
			<td>last_name</td><td>{{ aaperson.last_name }}</td>
		</tr>
		<tr>
			<td>gender</td><td>{{ aaperson.gender }}</td>
		</tr>
		<tr>
			<td>bio</td><td>{{ aaperson.bio }}</td>
		</tr>
		<tr>
			<td>Birth, death year</td><td>{{ aaperson.birth_year }}, {{ aaperson.death_year }}</td>
		</tr>
		<tr>
			<td>First, last year in records</td><td>{{ aaperson.first_appearance_year }}, 
			{{ aaperson.last_appearance_year }}</td>
		</tr>
		<tr>
			<td>Year freed</td><td>{{ aaperson.free_start_year }}</td>
		</tr>
		<tr>
			<td>owner(s)</td>
			<td>
				{% for owner in aaperson.owners.all %}
					{{ owner.name|safe }},
				{% endfor %}
			</td>
		</tr>
		<tr>
			<td>place_of_origin</td><td>{{ aaperson.place_of_origin }}</td>
		</tr>
	</table>
	<h2>Primary Source Entries for {{ aaperson.name|safe }}</h2>
	<table cellpadding="3">
		<tr>
			<th>Source</th><th>Date</th><th>Entry</th>
		</tr>
		{% for entry in aaperson.person_entries %}
		<tr>
			<td><em>{{ entry.primary_source }}</em></td>
			<td>{{ entry.year_start }}-{{ entry.month }}-{{ entry.day }}</td>
			<td>{{ entry.entry_text|safe }}</td>
		</tr>
		{% endfor %}
	</table>


{% endblock content %}
