{% extends "base.html" %}
{% load static %}

{% block head_title %}AAERNE - African Americans{% endblock %}

	{% block breadcrumbs %}
		<a href="/">Home</a> > <a href="{% url 'people:aaperson_index'%}">AA People </a> > Person Details
	{% endblock %}

 {% block page_title %}AAERNE - African American Person Details{% endblock %}

{% block content %}

	<h1>{{ aaperson.name|safe }}</h1>

	<dl>
		<dt>first name</dt><dd>{{ aaperson.first_name }}</dd>
		<dt>last name</dt><dd>{{ aaperson.last_name }}</dd>
		<dt>gender</dt><dd>{{ aaperson.gender }}</dd>
		<dt>bio</dt><dd>{{ aaperson.bio }}</dd>
		<dt>birth, death year</dt>
		<dd>
			{% firstof aaperson.birth_year "--" %}, 
			{% firstof aaperson.death_year "--" %} 
		</dd>
		<dt>first, last year in records</dt>
		<dd>
			{% firstof aaperson.first_appearance_year "--" %}, 
			{% firstof aaperson.last_appearance_year "--" %} 
		</dd>
		<dt>year freed</dt><dd>{% firstof aaperson.free_start_year "--" %}</dd>
		<dt>owner(s)</dt>
			<dd>
				{% for owner in aaperson.owners.all %}
					{{ owner.name|safe }},
				{% endfor %}
			</dd>
		<dt>place of origin</dt><dd>{{ aaperson.place_of_origin }}</dd>
	</dl>
	<br clear="left" />
	<h2>Primary Source Entries for {{ aaperson.name|safe }}</h2>


	{% comment %} {% for source in aaperson.person_entries %}
		list of sources
	{% endfor %} {% endcomment %}


	<table>
		<tr>
			<th>Entry</th>
			<th>Source</th>
			<th>Vol Name</th>
			<th>Date</th>
		</tr>
		{% for entry in aaperson.person_entries %}
		<tr>
			<td class="xlrg">
				<a href="/sources/entry/{{entry.id}}/">{{ entry.entry_text|safe }}</a>
			</td>
			<td class="medlrg"><em>{{ entry.primary_source }}</em></td>
			<td class="medplus">{{ entry.volume.title }}</td>
			<td class="med">{% firstof entry.low_year "--" %} 
			{% if entry.low_month %} {{ entry.get_low_month_display }}{% endif %}
			{% if entry.low_day %} {{ entry.low_day }}{% endif %}
			</td>
		</tr>
		{% endfor %}
	</table>
	<p class="small"><a href="#top">top of page</a></p>
<p class="faint">aaperson_entries.html</p>
{% endblock content %}
