{% extends "basic_page.html" %}
{% load static %}

{% block head_title %}AAERNE - Other People/Owners{% endblock %}

	{% block breadcrumbs %}
		<a href="/">Home</a> > Other People/Enslavers
	{% endblock %}

{% block content %}
<h1>Other People / Enslavers</h1>
	<table>
		<tr>
			<th>Name</th>
			<th>Title</th>
			<th>Role</th>
			<th>Race</th>
			<th>Birth</th>
			<th>Death</th>
			<th>ID</th>
			<th>Location(s)</th>
			<!-- <th>Enslaved Person(s)</th> -->
		</tr>
		{% for operson in operson_list %}
		<tr>
			<td class="medlrg">
				<a href="{% url 'people:operson_detail' operson.id %}">{{ operson.name|safe }}
				</a>
			</td>
			<td class="med">{{ operson.title|safe }}</td>
			<td class="med">{{ operson.get_role_display }}</td>
			<td class="med">{{ operson.race }}</td>
			<td class="med">{% firstof operson.birth_year " " %}</td>
			<td class="med">{% firstof operson.death_year " " %}</td>
			<td class="med">{{ operson.id }}</td>
			<td class="medplus">
				{% for location in operson.locations.all %}
				  {{ location.title }}, {{ location.state.abbr}} &nbsp;
				{% endfor %}
			  </td>
		
			<!-- <td class="xlrg"> 
				{% for aaperson in operson.aaperson_set.all %}
					 {{ aaperson.name|safe }},
				{% endfor %}
			 </td>	 -->
		</tr>
		{% endfor %}
	</table>
	<p class="small"><a href="#top">top of page</a></p>
<p class="faint">operson_list.html</p>

{% endblock content %}
