{% extends "basic_page.html" %}
{% load static %}

{% block head_title %}{{ operson.name|safe }}{% endblock %}

	{% block breadcrumbs %}
		<a href="/">Home</a> > <a href="{% url 'people:operson_index'%}">Other People/Enslavers  </a> > Other Person/Enslaver  Details
	{% endblock %}
 
{% block content %}
	<h1>{{ operson.name|safe  }}</h1>

	<dl>
		<dt>title</dt><dd>{{ operson.title }}</dd>
		<dt>first name</dt><dd>{{ operson.first_name }}</dd>
		<dt>last name</dt><dd>{{ operson.last_name }}</dd>
		<dt>gender</dt><dd>{{ operson.gender }}</dd>
	
		<dt>birth, death year</dt>
		<dd>
			{% firstof operson.birth_year "--" %}, {% firstof operson.death_year "--" %} 
		</dd>
		<dt>role</dt><dd>{{ operson.get_role_display }}</dd>
		<dt>race</dt><dd>{{ operson.race }}</dd>
		<dt>location(s)</dt>
		<dd>
			{% for location in operson.locations.all %}
				{{ location.title }} &nbsp;
			{% endfor %}
		</dd>
	</dl>
	<br clear="left" />

	<div class='full-bio'>
		<h3>Bio</h3>
		{{ operson.bio.html|safe }}
	</div>

	<h2>Enslaved persons:</h2>
	<ul class="unstyledlist">
		{% for aaperson in operson.aaperson_set.all %}
			<li>
				<a href="{% url 'people:aaperson_entries' aaperson.id %}">{{ aaperson.name|safe }}
				</a>

			</li>
		{% endfor %}
	</ul>
		<p class="small"><a href="#top">top of page</a></p>
	<p class="faint">operson_detail.html</p>

{% endblock content %}
