{% extends "base.html" %}
{% load staticfiles %}

{% block head_title %}AANE - Other People (Owners){% endblock %}

	{% block breadcrumbs %}
		<a href="/">Home</a> > Other/Owner People
	{% endblock %}

{% block page_title %}AANE - Other People (Owners){% endblock %}

{% block content %}

	<table>
		<tr>
			<th>id</th>
			<th>edit</th>
			<!--th>details</th -->
			<th>Name</th>
			<th>Title</th>
			<th>Role</th>
			<th>Race</th>
			<th>Birth</th>
			<th>Death</th>
			<th>Enslaved Person(s)</th>
		</tr>
		{% for operson in operson_list %}
		<tr>
			<td class="id">{{ operson.id }}</td>
			<td class="details">
				<!--a href="{% url 'people:operson_detail' operson.id %}">details</a -->
				<a href="/admin/people/operson/{{operson.id}}/" target="admin">edit</a>
			</td>
			<td>{{ operson.name|safe }}</td>
			<td>{{ operson.title|safe }}</td>
			<td>{{ operson.role }}</td>
			<td>{{ operson.race }}</td>
			<td>{{ operson.birth }}</td>
			<td>{{ operson.death }}</td>
			<td>
				{% for aaperson in operson.aaperson_set.all %}
					{{ aaperson.name|safe }},
				{% endfor %}
			</td>	
		</tr>
		{% endfor %}
	</table>

{% endblock content %}
