{% extends "base.html" %}
{% load staticfiles %}

{% block head_title %}AAERNE - African Americans{% endblock %}

	{% block breadcrumbs %}
		<a href="/">Home</a> > <a href="{% url 'people:operson_index'%}">Other People/Owners  </a> > Other Person/Owner  Details
	{% endblock %}
 
 {% block page_title %}AAERNE - Other Person / Owner Details{% endblock %}

{% block content %}

	<h1>{{ operson.name|safe  }}</h1>

	<dl>
		<dt>title</dt><dd>{{ operson.title }}</dd>
		<dt>first name</dt><dd>{{ operson.first_name }}</dd>
		<dt>last name</dt><dd>{{ operson.last_name }}</dd>
		<dt>gender</dt><dd>{{ operson.gender }}</dd>
		<dt>bio</dt><dd>{{ operson.bio }}</dd>
		<dt>birth, death year</dt>
		<dd>
			{% firstof operson.birth_year "--" %}, {% firstof operson.death_year "--" %} 
		</dd>
		<dt>role</dt><dd>{{ operson.role }}</dd>
		<dt>race</dt><dd>{{ operson.race }}</dd>
	</dl>
	<br clear="left" />
	<h2>Enslaved persons:</h2>
	<ul class="unstyledlist">
		{% for aaperson in operson.aaperson_set.all %}
			<li>{{ aaperson.name|safe }}</li>
		{% endfor %}
	</ul>
		<p class="small"><a href="#top">top of page</a></p>
	<p class="faint">operson_detail.html</p>

{% endblock content %}
